.dias{font-size: 30px; color: blue; text-align: center;} /* DÍAS DE ATENCIÓN */
.horarios{font-size: 24px; color: green; text-align: center } /* HORARIOS */
#cerrado{font-size: 24px; color: red; text-align: center} /* LOS DOMINGOS NO SE LABURA */
.divheader{display: flex; justify-content: center;}
.header{background-color: grey; height: 100%; width: 100%;}
.footer{background-color: grey; height: 100%; width: 100%;}