.dias{font-size: 30px; color: blue; text-align: center;} /* DÍAS DE ATENCIÓN */
.horarios{font-size: 24px; color: green; text-align: center } /* HORARIOS */
#cerrado{font-size: 24px; color: red; text-align: center} /* LOS DOMINGOS NO SE LABURA */